<div style="min-height:250px;">

    <div class="row" style="margin-bottom:10px;">
        <div class="col-xs-12">
            <button type="button"
                    class="btn btn-primary btn-sm pull-right"
                    ng-click="leadEdit.update()">
                Save
            </button>
        </div>
    </div>

    <form class="form-horizontal" action="">
        <div ng-include="'app/lead/edit/list-information.html'"></div>

        <div class="form-group">
            <label class="control-label col-xs-2" for="lead-name">Name</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="leadEdit.lead.name" id="lead-name" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="lead-reference">Ref.</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="leadEdit.lead.ref" id="lead-reference" placeholder="Reference">
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label class="control-label col-xs-2" for="lead-contact">Contact</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="leadEdit.lead.contact" id="lead-contact" placeholder="Contact">
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label text-right">
                Phones:
            </label>
            <div class="col-xs-5">
                <input ui-mask="(999) 999-9999" class="form-control" ng-model="leadEdit.lead.phone1" id="phone1" type="tel" placeholder="(nnn) nnn-nnnn">
            </div>
            <div class="col-xs-5">
                <input ui-mask="(999) 999-9999" class="form-control" ng-model="leadEdit.lead.phone2" id="phone2" type="tel" placeholder="(nnn) nnn-nnnn">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-2" for="lead-email">Email</label>
            <div class="col-xs-10">
                <input class="form-control" type="email" ng-model="leadEdit.lead.email" id="lead-email" placeholder="Email">
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label class="control-label col-xs-2" for="lead-address">Address</label>
            <div class="col-xs-10">
                <input class="form-control" type="email" ng-model="leadEdit.lead.address" id="lead-address" placeholder="Address">
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3 control-label text-right">
                City &amp; State:
            </label>
            <div class="col-xs-4">
                <input class="form-control" ng-model="leadEdit.lead.city" id="city" type="text" placeholder="City">
            </div>
            <div class="col-xs-1">
                <input class="form-control" ng-model="leadEdit.lead.state" id="state" type="text" placeholder="">
            </div>
            <div class="col-xs-3">
                <input class="form-control" ng-model="leadEdit.lead.postalCode" id="postalCode" type="text" placeholder="Postal">
            </div>
        </div>

    </form>
</div>
