*.DS_Store
node_modules
screenshots
npm-debug.log
undefinedapp
archives
archive
archive.txt
database
server/config
server/cli
server/tools/init-db.js
server.err
server.out
nohup.out
test
temp.*
.temp
.tmp
mongodump*
dist
about.txt
*.sh
*.out
*.err
*.css
client/build
client/development/.temp
client/development/temp
client/development/libs/
client/production/
questions.txt



