*.DS_Store
node_modules
screenshots
archive
archive.txt
database
server/config
server/cli
server/tools/init-db.js
server.err
server.out
nohup.out
test
temp.*
.temp
.tmp
client/development/.temp
client/development/temp
mongodump*
archive
dist
about.txt
*.sh
*.out
*.err
client/development/libs/
client/development/app/lead

