<div class="row" style="margin-top: 30px;">
    <div class="col-sm-6 col-sm-offset-3">

        <div class="panel panel-primary">
            <div class="panel-heading">
                Register to Lead Assistant
            </div>
            <div class="panel-body">
                <form class="form-horizontal"
                      role="form"
                      name="regForm"
                      ng-submit="register.submit(regForm.$valid)"
                      novalidate>

                    <div class="form-group"
                         ng-class="{'has-error':regForm.userName.$invalid}">

                        <label class="control-label col-sm-3" for="userName">*Name</label>
                        <div class="col-sm-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-user glyphicon-user"></i></span>
                            <input type="text"
                                   ng-model="register.newUser.username"
                                   class="form-control input-sm"
                                   name="userName"
                                   id="userName"
                                   placeHolder="Name"
                                   required />

                        </div>

                        <div ng-if="regForm.useName.$touched"
                             ng-messages="regForm.userName.$error"
                             ng-messages-include="app/messages/error-messages.html"
                             class="help-block has-error col-xs-offset-3">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label text-right">
                            Company:
                        </label>
                        <div class="col-xs-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-briefcase"></i></span>
                            <input type="text"
                                   ng-model="register.newUser.company"
                                   class="form-control input-sm"
                                   name="userCompany"
                                   id="user-company"
                                   placeholder="Company">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label text-right" for="user-phone">
                            Phone:
                        </label>
                        <div class="col-xs-5 input-group" >
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-phone"></i></span>
                            <input type="tel"
                                   ng-model="register.newUser.phone"
                                   ui-mask="(999) 999-9999"
                                   class="form-control input-sm"
                                   name="userPhone"
                                   id="user-phone">
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error':regForm.userEmail.$invalid}">

                        <label class="control-label col-sm-3" for="userEmail">*Email</label>
                        <div class="col-sm-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email"
                                   email-dupe-validator
                                   ng-model="register.newUser.email"
                                   class="form-control input-sm"
                                   id="userEmail"
                                   name="userEmail"
                                   placeHolder="Email"
                                   required />
                        </div>

                        <div ng-if="regForm.userEmail.$touched"
                             ng-messages="regForm.userEmail.$error"
                             ng-messages-include="app/messages/error-messages.html"
                             class="help-block has-error col-xs-offset-3">
                        </div>

                    </div>

                    <div class="form-group"
                         ng-class="{'has-error':regForm.userPassword.$invalid}">

                        <label class="control-label col-sm-3" for="userPassword">*Password</label>
                        <div class="col-sm-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password"
                                   ng-model="register.newUser.password"
                                   class="form-control input-sm"
                                   id="userPassword"
                                   name="userPassword"
                                   placeholder="Password"
                                   ng-minlength="6"
                                   ng-maxlength="15"
                                   required />
                        </div>

                        <div ng-if="regForm.usePassword.$touched"
                             ng-messages="regForm.userPassword.$error"
                             ng-messages-include="app/messages/error-messages.html"
                             class="help-block has-error col-xs-offset-3">
                        </div>

                    </div>

                    <div class="form-group"
                         ng-class="{'has-error':regForm.userConfirmPassword.$invalid}">

                        <label class="control-label col-sm-3" for="userConfirmPassword">*Confirm Password</label>
                        <div class="col-sm-6 input-group">
                            <span class="input-group-addon input-medium"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password"
                                   confirm-password="register.newUser.password"
                                   ng-model="register.newUser.confirmPassword"
                                   ng-model-options="{updateOn: 'blur'}"
                                   class="form-control input-sm"
                                   id="userConfirmPassword"
                                   name="userConfirmPassword"
                                   placeholder="Confirm Password"
                                   required />
                        </div>

                        <div ng-if="regForm.userConfirmPassword.$touched"
                             ng-messages="regForm.userConfirmPassword.$error"
                             ng-messages-include="app/messages/error-messages.html"
                             class="help-block has-error col-xs-offset-3">
                        </div>

                    </div>

                    <div class="pull-right">
                        <button type="submit"
                                class="btn btn-primary"
                                ng-disabled="regForm.$invalid || regForm.$pending">
                            Register
                        </button>
                    </div>

                </form>

            </div>

            <div class="panel-footer"></div>
        </div>

    </div>

</div>

