<div ng-include="'app/lead/list/lead-list-toolbar.html'"></div>

<form name="leadForm"
      role="form"
      ng-submit="leadList.addNew(leadForm.$valid);leadForm.$setUntouched();"
      novalidate>

<table class="table table-responsive table-condensed table-striped" style="background-color:#ffffff;">
    <thead>
    <tr>
        <th width="10%">
            &nbsp;
        </th>
        <th width="15%">
            Name
        </th>
        <th width="15%" class="hidden-xs hidden-sm">
            Info
        </th>
        <th width="20%" class="hidden-xs">
            Notes
        </th>
        <th width="20%">
            Rank
        </th>
        <th width="10%">
            Archive
        </th>
        <th width="10%">
            Delete
        </th>
    </tr>
    </thead>

    <tbody>

        <tr>
            <td>
                <button type="submit"
                        class="btn btn-sm btn-primary"
                        ng-disabled="leadForm.$invalid"
                        ng-click="leadForm.submit();">
                    <i class="fa fa-plus"></i>
                </button>

            </td>
            <td ng-class="{'has-error':leadForm.leadName.$invalid}">
                <input type="text"
                       name="leadName"
                       ng-model="leadList.lead.name"
                       class="form-control input-md"
                       placeholder="Name"
                       minlength="3"
                       maxlength="20"
                       required >

                <div ng-if="leadForm.leadName.$touched"
                     ng-messages="leadForm.leadName.$error"
                     class="help-block has-error">

                    <span ng-message="required">
                        Name is only required field.
                    </span>
                    <span ng-message="minlength">
                        Requires at least 3 characters.
                    </span>
                    <span ng-message="maxlength">
                        No more than 20 characters.
                    </span>
                </div>

                <!-- debug.x --><!--
                <div>
                    leadForm.leadName.$invalid: {{leadForm.leadName.$invalid}}
                </div>
                <div>
                    leadForm.leadName.$touched: {{leadForm.leadName.$touched}}
                </div>
                <div>
                    leadForm.leadName.$dirty: {{leadForm.leadName.$dirty}}
                </div>
                <div>
                    leadForm.leadName.$pristine: {{leadForm.leadName.$pristine}}
                </div>

                <div>
                    leadForm.leadName.$error: {{leadForm.leadName.$error}}
                </div>
                -->

            </td>
            <td class="hidden-xs hidden-sm">
                <input type="text"
                       name="leadInfo"
                       ng-model="leadList.lead.info"
                       class="form-control editable-input input-md"
                       placeholder="Info about entry">
            </td>

            <td class="hidden-xs">
                <input type="text"
                       name="leadNotes"
                       ng-model="leadList.lead.notes"
                       class="form-control editable-input input-md"
                       placeholder="Notes">
            </td>

            <td>
                <select class="form-control input-md"
                        name="leadRank"
                        ng-model="leadList.lead.rank"
                        ng-options="r.rank as r.rank for r in leadList.ranks"
                        ng-change="onChange();"
                        default-text="Rank">
                </select>

            </td>

            <td>
                <input type="checkbox"
                       class="checkbox checkbox-inline"
                       name="leadArchive"
                       readonly="true"
                       ng-value="'active'"
                       ng-true-value="'archived'"
                       ng-false-value="'active'"
                       ng-model="leadList.lead.archive">

            <td>
                &nbsp;
            </td>
        </tr>


    </tbody>

        <!-- rank: leadList.filterByRank -->
    <tbody ng-repeat="lead in leadList.filtered = (leadList.leads | filter:{name: leadList.searchByName})">

        <tr>
            <td>
                <button class="btn btn-sm btn-success"
                        ng-click="leadList.edit(lead);$state.go('leads.edit',{id: lead._id})">
                    <i class="fa fa-pencil" style="color:#ffffff;"></i>
                </button>

                <button class="btn btn-sm btn-warning"
                        ng-click="leadList.showDetails(lead);">
                    <i class="fa fa-info" style="color:#ffffff;"></i>
                </button>


            </td>
            <td>
                {{::lead.name}}
            </td>
            <td class="hidden-xs hidden-sm">
                {{::lead.info}}
            </td>
            <td class="hidden-xs">
                {{::lead.notes}}
            </td>
            <td>
                {{::lead.rank}}
            </td>

            <td>
                <input type="checkbox"
                       class="checkbox checkbox-inline"
                       ng-value="false"
                       ng-model="lead.archive"
                       ng-change="leadList.toggleArchive(lead)"
                       ng-true-value="true"
                       ng-false-value="false">
            </td>
            <td>
                <xs-action-buttons has-delete="true"
                                   on-delete-confirm="leadList.delete(lead)"
                                   delete-confirm-text="Confirm"
                                   delete-cancel-text="Cancel"
                                   button-size="'sm'">

                </xs-action-buttons>
            </td>
        </tr>

        <tr ng-if="lead.showDetail===true && ( lead.hasReminders() || lead.hasTracking() )">
            <td colspan="10" style="padding:8px 20px 10px 20px;" class="info">
                <div ng-if="lead.hasReminders()" ng-include="'app/lead/list/sub-lists/reminder-sub-list.html'"></div>
                <div ng-if="lead.hasTracking()" ng-include="'app/lead/list/sub-lists/tracking-sub-list.html'"></div>
            </td>
        </tr>
        <!--
        <tr ng-if="lead.showDetail===true && lead.hasReminders()">
            <td colspan="10">
                <div ng-include="'app/lead/list/sub-lists/reminder-sub-list.html'"></div>
            </td>
        </tr>
        <tr ng-if="lead.showDetail===true && lead.hasTracking()">
            <td colspan="10">
                Tracking
            </td>
        </tr>
        <tr ng-if="lead.showDetail===true && lead.hasTracking()">
            <td colspan="10">
                <div ng-include="'app/lead/list/sub-lists/tracking-sub-list.html'"></div>
            </td>
        </tr>
        -->
    </tbody>

</table>
</form>